@font-face{
    font-family: head;
    src: url("./Heading-Now-Variable.ttf");
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
  
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.page1 h1{
    font-size: 38vw;
   font-family: head;
   white-space: nowrap;
   font-stretch: 260%;
   font-weight: 999;

}
.loader{
    color: black;
    height: 100vh;
    width: 100%;
    background-color: rgb(211 211 211);
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader h1{
    font-size: 10vw;
   
}
